<div id="global-menu-wrapper" class="bambi-fx-10-inline" [ngClass]="menuService.menuOpen ? 'menu-open' : 'menu-close'">

	<ng-container *ngIf="menuService.menuOpen">
		<div id="open-menu-wrapper" [ngClass]="appService('appTheme') + '-theme'">
			<div class="menu-entry menu-toggler" (click)="menuService.ToggleMenu('close')">
				<mat-icon class="animate__animated animate__rotateIn fx-speed-20-inline">close</mat-icon>
				<span class="animate__animated animate__fadeInLeft fx-speed-20-inline">{{'MENU.CLOSE' |
					translation}}</span>
			</div>
			<ng-scrollbar id="menu-scroll" [ngClass]="appService('appTheme') + '-theme'">
				<div id="entries-wrapper" class="bambi-fx-15">
					<div *ngFor="let menuEntry of menuService.appMenu">
						<div class="menu-entry bambi-fx-0-inline main-entry"
							[routerLink]="menuEntry.subEntries.length === 0 ? menuEntry.route : null"
							(click)="menuEntry.subEntries.length !== 0 ? menuService.ToggleGroup(menuEntry.id) : null">
							<mat-icon fontSet="material-icons-outlined">{{menuEntry.icon}}</mat-icon><span
								class="animate__animated animate__fadeInLeft fx-speed-20-inline">{{menuEntry.title |
								translation}}<mat-icon
									*ngIf="menuEntry.subEntries!.length > 0">{{menuService.groupControl[menuEntry.id] ?
									'expand_less' :
									'expand_more'}}</mat-icon></span>
						</div>
						<div [routerLink]="menuSubEntry.route"
							[ngClass]="!menuService.groupControl[menuEntry.id] ? 'no-display' : ''"
							class="menu-entry bambi-fx-0-inline sub-entry animate__animated animate__fadeInLeft fx-speed-20-inline"
							*ngFor="let menuSubEntry of menuEntry.subEntries">
							{{menuSubEntry.title | translation}}
						</div>
					</div>

				</div>
			</ng-scrollbar>
		</div>
	</ng-container>

	<ng-container *ngIf="!menuService.menuOpen">
		<div id="closed-menu-wrapper">
			<div class="menu-entry menu-toggler" (click)="menuService.ToggleMenu('open')">
				<mat-icon class="animate__animated animate__rotateIn fx-speed-20-inline">menu</mat-icon>
			</div>
			<ng-scrollbar id="menu-scroll" [ngClass]="appService('appTheme') + '-theme'">
				<div id="entries-wrapper">
					<div class="menu-entry" *ngFor="let menuEntry of menuService.appMenu"
						(click)="menuService.ToggleMenu('open')">
						<mat-icon fontSet="material-icons-outlined">{{menuEntry.icon}}</mat-icon>
					</div>
				</div>
			</ng-scrollbar>
		</div>
	</ng-container>

</div>