<div id="global-menu-wrapper" [ngClass]="menuService.menuOpen ? 'menu-open' : 'menu-close'">


	<ng-container *ngIf="menuService.menuOpen">
		<div id="open-menu-wrapper" [ngClass]="bambiService.appTheme + '-theme'">
			<div class="menu-entry menu-toggler" (click)="menuService.ToggleMenu('close')">
				<mat-icon class="animate__animated animate__rotateIn animate_evenfaster">close</mat-icon><span
					class="animate__animated animate__fadeIn animate_evenfaster">{{'APPMENU.CLOSE'|
					translation}}</span>
			</div>
			<ng-scrollbar id="menu-scroll" [ngClass]="bambiService.appTheme + '-theme'">
				<div id="entries-wrapper">
					<div *ngFor="let menuEntry of menuService.bambiMenu">
						<div class="menu-entry main-entry"
							[routerLink]="menuEntry.subEntries.length === 0 ? menuEntry.route : null"
							(click)="menuEntry.subEntries.length !== 0 ? menuService.ToggleGroup(menuEntry.id) : null">
							<mat-icon fontSet="material-icons-outlined">{{menuEntry.icon}}</mat-icon><span
								class="animate__animated animate__fadeInLeft animate_evenfaster">{{menuEntry.title |
								translation}}<mat-icon
									*ngIf="menuEntry.subEntries!.length > 0">{{menuService.groupControl[menuEntry.id] ?
									'expand_less' :
									'expand_more'}}</mat-icon></span>
						</div>
						<div [routerLink]="menuSubEntry.route"
							[ngClass]="!menuService.groupControl[menuEntry.id] ? 'no-display' : ''"
							class="menu-entry sub-entry animate__animated animate__fadeInLeft animate_evenfaster"
							*ngFor="let menuSubEntry of menuEntry.subEntries">
							{{menuSubEntry.title | translation}}
						</div>
					</div>

				</div>
			</ng-scrollbar>
		</div>
	</ng-container>

	<ng-container *ngIf="!menuService.menuOpen">
		<div id="closed-menu-wrapper">
			<div class="menu-entry menu-toggler" (click)="menuService.ToggleMenu('open')">
				<mat-icon>menu</mat-icon>
			</div><ng-scrollbar id="menu-scroll" [ngClass]="bambiService.appTheme + '-theme'">
				<div id="entries-wrapper">
					<div class="menu-entry" *ngFor="let menuEntry of menuService.bambiMenu"
						(click)="menuService.ToggleMenu('open')">
						<mat-icon fontSet="material-icons-outlined">{{menuEntry.icon}}</mat-icon>
					</div>
				</div>
			</ng-scrollbar>
		</div>
	</ng-container>

</div>