<div class="master-dialog-wrapper bambi-fx-50">

	<div class="dialog-header-wrapper" [ngClass]="deletingRecord? 'warn-dialog' : ''">

		<div class="dialog-header-title">
			<mat-icon *ngIf="!deletingRecord">restaurant_menu</mat-icon>
			<span *ngIf="!deletingRecord">{{'FOOD.PRODUCTS.DETAILS.DIALOGTITLE' | translation}}</span>

			<mat-icon *ngIf="deletingRecord">delete</mat-icon>
			<span *ngIf="deletingRecord">{{'FOOD.PRODUCTS.DETAILS.DELETETITLE' | translation}}</span>
		</div>

		<div class="dialog-header-actions" *ngIf="!deletingRecord">

			<button mat-mini-fab color="primary" [disabled]="!loadingComplete || fdService.productDetails.public"
				(click)="recordOperation('delete')">
				<mat-icon>delete</mat-icon>
			</button>

			<button mat-mini-fab color="primary" [disabled]="!loadingComplete" (click)="recordOperation('clone')">
				<mat-icon>file_copy</mat-icon>
			</button>

			<button mat-mini-fab color="primary" [disabled]="!loadingComplete || fdService.productDetails.public"
				(click)="recordOperation('update')">
				<mat-icon>edit</mat-icon>
			</button>
			
			<button mat-mini-fab color="warn" mat-dialog-close>
				<mat-icon>close</mat-icon>
			</button>

		</div>
		<div class="dialog-header-actions" *ngIf="deletingRecord">
		</div>
	</div>

	<div class="progress-bar-wrapper">
		<mat-progress-bar mode="indeterminate" color=warn
			*ngIf="!loadingComplete && !deletingRecord"></mat-progress-bar>
	</div>

	<div class="dialog-details-wrapper" *ngIf="loadingComplete && !!fdService.productDetails.stamp">
		<ng-scrollbar width="100%" height="100%">

			<div class="scrollbar-details-wrapper">

				<div class="product-info-left">
					<div class="product-mini-info">
						<img src="{{fdService.productDetails.image}}">
						<div><mat-icon color="primary"
								fontSet="material-icons-outlined">bolt</mat-icon><span>{{fdService.productDetails.kcal}}
								kcal</span></div>
						<div><mat-icon color="primary"
								fontSet="material-icons-outlined">scale</mat-icon><span>{{fdService.productDetails.unitvalue}}
								{{fdService.productDetails.unit}}</span></div>
						<div><mat-icon color="primary"
								fontSet="material-icons-outlined">request_quote</mat-icon><span>{{fdService.productDetails.price}}
								€</span></div>

					</div>

				</div>


				<div class="product-info-right">
					<div class="product-title">
						<h1>{{fdService.productDetails.title}}</h1>
					</div>

					<p class="product-chips">
						<mat-chip-listbox>
							<mat-chip-option disabled
								*ngFor="let tag of fdService.productDetails.tags">{{tag}}</mat-chip-option>
						</mat-chip-listbox>
					</p>

					<div class="recipes-list animate__animated animate__fadeIn" *ngIf="!deletingRecord">
						aqui a lista de receitas que utilizam este produto</div>


					<div *ngIf="deletingRecord" class="delete-confirmation animate__animated animate__fadeIn">
						<p>{{'FOOD.PRODUCTS.DETAILS.TEXT-1' | translation}}<br>{{'FOOD.PRODUCTS.DETAILS.TEXT-2' |
							translation}}</p>
						<div>
							<button mat-stroked-button color="warn"
								(click)="deletingRecord = false">{{'APP.GENERIC.CANCEL' | translation}}</button>
							<button mat-dialog-close mat-flat-button color="warn"
								(click)="deleteRecord()">{{'FOOD.PRODUCTS.DETAILS.DELETEBUTTON' | translation}}</button>
						</div>
					</div>

				</div>

			</div>

			<div class="dialog-footer-actions-wrapper"></div>
		</ng-scrollbar>
	</div>

</div>