<div class="master-dialog-wrapper">

	<div class="dialog-header-wrapper" [ngClass]="deletingRecord? 'warn-dialog' : ''">

		<div class="dialog-header-title">
			<mat-icon *ngIf="!deletingRecord">restaurant_menu</mat-icon>
			<span *ngIf="!deletingRecord">{{'FOOD.PRODUCTS.DETAILS.DIALOGTITLE' | translation}}</span>

			<mat-icon *ngIf="deletingRecord">delete</mat-icon>
			<span *ngIf="deletingRecord">{{'FOOD.PRODUCTS.DETAILS.DELETETITLE' | translation}}</span>
		</div>

		<div class="dialog-header-actions" *ngIf="!deletingRecord">

			<button mat-mini-fab color="primary" [disabled]="!loadingComplete"
				 (click)="recordOperation('clone')">
				<mat-icon>file_copy</mat-icon>
			</button>

			<button mat-mini-fab color="primary" [disabled]="!loadingComplete || fdService.productDetails.public"
				 (click)="recordOperation('update')">
				<mat-icon>edit</mat-icon>
			</button>

			<button mat-mini-fab color="warn" [disabled]="!loadingComplete || fdService.productDetails.public"
				 (click)="recordOperation('delete')">
				<mat-icon>delete</mat-icon>
			</button>
		</div>
		<div class="dialog-header-actions" *ngIf="deletingRecord">
		</div>
	</div>

	<div class="progress-bar-wrapper">
		<mat-progress-bar mode="indeterminate" color=warn
			*ngIf="!loadingComplete && !deletingRecord"></mat-progress-bar>
	</div>

	<div class="dialog-details-wrapper" *ngIf="loadingComplete && !!fdService.productDetails.stamp">
		<ng-scrollbar width="100%" height="100%">

			<div class="scrollbar-details-wrapper">

				<div class="product-info-left" style="height:100%;width:30%;display: flex;">
					<div class="product-mini-info" style="width:100%;display: flex;flex-direction: column;">
						<img src="{{fdService.productDetails.image}}"
							style="max-width: 100%;margin:0 auto 5px;border-radius: 25%;">
						<div><mat-icon color="primary"
								fontSet="material-icons-outlined">bolt</mat-icon><span>{{fdService.productDetails.kcal}}
								kcal</span></div>
						<div><mat-icon color="primary"
								fontSet="material-icons-outlined">scale</mat-icon><span>{{fdService.productDetails.unitvalue}}
								{{fdService.productDetails.unit}}</span></div>
						<div><mat-icon color="primary"
								fontSet="material-icons-outlined">request_quote</mat-icon><span>{{fdService.productDetails.price}}
								€</span></div>

					</div>

				</div>


				<div class="product-info-right" style="height:100%;width:70%;display: flex;flex-direction: column;">
					<div class="product-title" style="margin-bottom: 10px;">
						<h1 style="margin:0">{{fdService.productDetails.title}}</h1>
					</div>

					<p class="product-chips" style="margin-bottom: 10px;">
						<mat-chip-listbox>
							<mat-chip-option disabled
								*ngFor="let tag of fdService.productDetails.tags">{{tag}}</mat-chip-option>
						</mat-chip-listbox>
					</p>

					<div class="recipes-list" class="animate__animated animate__fadeIn" *ngIf="!deletingRecord"
						style="display: flex;align-items: center;justify-content: center;">
						aqui a lista de receitas que utilizam este produto</div>


					<div class="delete-confirmation" *ngIf="deletingRecord" class="animate__animated animate__fadeIn" style="padding-top:10px;">
						<p style="text-align:center">{{'FOOD.PRODUCTS.DETAILS.TEXT-1' | translation}}<br>{{'FOOD.PRODUCTS.DETAILS.TEXT-2' | translation}}</p>
						<div style="display: flex;align-items: center;justify-content: center;padding-top:10px;">
							<button mat-stroked-button color="warn" (click)="deletingRecord = false" style="margin: 0 10px">{{'APP.GENERIC.CANCEL' | translation}}</button>
							<button mat-dialog-close mat-flat-button color="warn" (click)="deleteRecord()" style="margin: 0 5px">{{'FOOD.PRODUCTS.DETAILS.DELETEBUTTON' | translation}}</button>
						</div>
					</div>

				</div>

			</div>

			<div class="dialog-footer-actions-wrapper"></div>
		</ng-scrollbar>
	</div>

</div>