#breadcumbs-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	.breadcumbs-section {
		align-items: center;
		display: flex;
		width: 50%;
		height: 100%;
		padding: 0 20px;
		&:last-of-type{
			justify-content: flex-end;
		}
		&.waikiki-theme {
			background: rgba(0, 0, 0, 0.05);
		}
		&.vice-theme {
			background: rgba(255, 255, 255, 0.1);
		}
		#favourite-chips-wrapper {
			justify-content: flex-start;
			span {
				&:first-of-type {
					margin-left: 4px;
				}
			}
		}
		#history-chips-wrapper {
			justify-content: flex-end;
			span {
				&:last-of-type {
					margin-right: 4px;
				}
			}
		}
		div {
			height: 100%;
			display: flex;
			align-items: center;
			span {
				cursor: pointer;
				padding: 3px 12px;
				margin: 0 1px;
				&:hover {
					border-radius: 15px;
					&.waikiki-theme {
						background: rgba(0, 0, 0, 0.05);
					}
					&.vice-theme {
						background: rgba(255, 255, 255, 0.1);
					}
				}
			}
		}
	}
}
