<div class="master-dialog-wrapper details-wrapper bambi-fx-50">

	<div class="dialog-header-wrapper" [ngClass]="deletingRecord? 'warn-dialog' : ''">

		<div class="dialog-header-title">
			<mat-icon *ngIf="!deletingRecord">restaurant_menu</mat-icon>
			<span *ngIf="!deletingRecord">{{'FD.RECIPES.MATERIALS.DETAILS.DIALOGTITLE' | translation}}</span>
		</div>

		<div class="dialog-header-actions" *ngIf="!deletingRecord">


			<button (click)="saveline()" mat-mini-fab [disabled]="!recordForm.valid" color="primary" mat-dialog-close>
				<mat-icon>save</mat-icon>
			</button>

			<button mat-mini-fab color="warn" mat-dialog-close>
				<mat-icon>close</mat-icon>
			</button>

		</div>
		<div class="dialog-header-actions" *ngIf="deletingRecord">
		</div>
	</div>

	<div class="progress-bar-wrapper">
		<mat-progress-bar mode="indeterminate" color=warn
			*ngIf="(!loadingComplete && !deletingRecord) || _materialsService.executingQuery"></mat-progress-bar>
	</div>


	<div class="dialog-details-wrapper" *ngIf="loadingComplete && !!_materialsService.context">
		<ng-scrollbar width="100%" height="100%">

			<!-- -->
			<div class="scrollbar-details-wrapper" [formGroup]="recordForm" style="align-items: start;">
				<div style="width: 50%;display: flex;flex-direction: column;" class="autocomplete-wrapper">
					<mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
						<mat-label class="bambi-fx-15-inline">{{(_materialsService.recordDetails.origin === 'products' ?
							'FD.RECIPES.MATERIALS.DETAILS.EDIT.TITLE-PROD' :
							'FD.RECIPES.MATERIALS.DETAILS.EDIT.TITLE-SUP') | translation}}</mat-label>
						<input (focusout)="focusOut()" type="text" placeholder="Pick one" aria-label="Number" matInput
							formControlName="title" [matAutocomplete]="auto">
						<mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
							<mat-option *ngFor="let option of filteredOptions | async" [value]="option.stamp">
								<img [src]="option.image" style="max-height: 50px;max-width: 50px;">{{option.title}}
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
					<div>
						<mat-slide-toggle *ngIf="!!recordForm.get('unit')!.value" color=warn
							formControlName="qtdbyweight">{{'FD.RECIPES.MATERIALS.DETAILS.EDIT.QTDBYWEIGHT' |
							translation}}{{'FD.RECIPES.MATERIALS.DETAILS.EDIT.UNITVALUELABEL-' +
							recordForm.get('unit')!.value.toUpperCase() | translation}}</mat-slide-toggle>
					</div>
				</div>
				<div style="width: 50%;display: flex;justify-content: center;align-items: center;"><img [src]="_materialsService.previewImage"
						style="max-width: 100px;max-height: 100px;border-radius:25px"> </div>

				<div style="width: 100%;display: flex;">
					<mat-form-field appearance="outline" color="accent" style="width: 25%;">
						<mat-label class="bambi-fx-15-inline">{{'FD.RECIPES.MATERIALS.DETAILS.EDIT.QTD' |
							translation}}</mat-label>
						<input class="bambi-fx-15 bambi-fx-30-inline" matInput formControlName="qtd">
					</mat-form-field>

					<mat-form-field appearance="outline" color="accent" style="width: 25%;">
						<mat-label class="bambi-fx-15-inline">{{'FD.RECIPES.MATERIALS.DETAILS.EDIT.KCAL' |
							translation}}</mat-label>
						<input class="bambi-fx-15 bambi-fx-30-inline" matInput formControlName="kcal">
					</mat-form-field>

					<mat-form-field appearance="outline" color="accent" style="width: 25%;">
						<mat-label class="bambi-fx-15-inline">{{'FD.RECIPES.MATERIALS.DETAILS.EDIT.PRICE' |
							translation}}</mat-label>
						<input class="bambi-fx-15 bambi-fx-30-inline" matInput formControlName="price">
					</mat-form-field>
					<div style="width: 25%;" *ngIf="!recordForm.get('qtdbyweight')!.value">aqui vêm em read only
						unitvalue *
						qtd [unit] </div>

					<div style="width: 25%;" *ngIf="recordForm.get('qtdbyweight')!.value">aqui vêm em read only qtd /
						unitvalue </div>
				</div>




			</div>

			<div class="dialog-footer-actions-wrapper"></div>
		</ng-scrollbar>
	</div>

</div>