<div class="master-dialog-wrapper details-wrapper">

	<div class="dialog-header-wrapper">

		<div class="dialog-header-title">
			<mat-icon>add_a_photo</mat-icon>
			<span>{{'DIALOGS.IMAGE-UPLOAD.TITLE' | translation}}</span>
		</div>
		<div class="dialog-header-actions">

			<button mat-dialog-close mat-mini-fab color="primary" (click)="saveChanges()">
				<mat-icon>check</mat-icon>
			</button>
			<button mat-dialog-close mat-mini-fab color="warn">
				<mat-icon>close</mat-icon>
			</button>
		</div>
	</div>

	<div class="progress-bar-wrapper">
		<mat-progress-bar mode="indeterminate" color=warn *ngIf="!loadingComplete"></mat-progress-bar>
	</div>

	<div class="dialog-details-wrapper">

		<div style="display: flex;justify-content: space-evenly;padding-top:20px;">
			<div style="display: flex;flex-direction: column">
				<p style="text-align:center">Imagem atual</p>
				<div class="img-picker-pic-wrapper"
					style="width: 156px;height: 156px;overflow: clip;display: flex;border-radius: 25%;border-style: solid;border-width: 6px;margin: auto;">
					<img [src]="getImageSrc()"></div>
			</div>
			<div style="display: flex;flex-direction: column">
				<p style="text-align:center">Nova imagem</p>
				<div class="img-picker-pic-wrapper"
					style="width: 156px;height: 156px;overflow: clip;display: flex;border-radius: 25%;border-style: solid;border-width: 6px;margin: auto;">
					<img [src]="appService('tempB64Img')"></div>
			</div>
		</div>

		<div style="width:100%;display: flex;justify-content: space-evenly;padding-top:20px;">
			<button mat-stroked-button color="accent" (click)="fileInput.click()">
				<mat-icon fontSet="material-icons-outlined">add_photo_alternate</mat-icon> Carregar imagem
			</button>

			<button mat-stroked-button color="accent" (click)="resetImage()">
				<mat-icon fontSet="material-icons-outlined">hide_image</mat-icon> Limpar imagem
			</button>
		</div>

	</div>

	<input #fileInput hidden="true" type="file" onclick="value=null" (change)="imageSelected($event)"
		accept=".jpg" />
</div>