<span [ngClass]="bambiService.appTheme + '-theme'">

	<ng-container id="landing-page" *ngIf="!bambiService.authorizedLogin">
		<bl-landing-page></bl-landing-page>
	</ng-container>

	<ng-container *ngIf="bambiService.authorizedLogin">
		<div id="app-wrapper">
			<bl-menu></bl-menu>
			<div id="content-wrapper">
				<bambi-header></bambi-header>
				<!-- <bambi-header-breadcumbs></bambi-header-breadcumbs> -->
				<div id="router-wrapper"><router-outlet></router-outlet></div>
			</div>
		</div>
	</ng-container>

</span>