<div class="bambi-fx-60" id="header-wrapper">

	<div id="logo-section" class="header-section">
		<img src="http://localhost/bambiapi/images/bambi.svg">
	</div>

	<div id="input-section" class="header-section">

		<div id="products-input" class="bambi-fx-15" *ngIf="simpleQueryAllowedMainforms.includes(router('url'))">
			<form [formGroup]="headerService('inputsForm')">
				<mat-form-field appearance="outline" class="bambi-fx-30-inline no-hint" color="accent">
					<mat-label class="bambi-fx-15-inline">{{headerTitle() | translation}}</mat-label>
					<input class="bambi-fx-15 bambi-fx-30-inline" id="product-query-input" matInput formControlName="simpleQueryFormControl" (ngModelChange)="inputSearch()">
					<mat-icon matSuffix>search</mat-icon>
				</mat-form-field>
			</form>
		</div>

	</div>

	<div id="mini-menus-section" class="header-section">
		<button class="header-button" mat-icon-button [matMenuTriggerFor]="langmenu"><mat-icon
				fontSet="material-icons-outlined">language</mat-icon></button>
		<button class="header-button" mat-icon-button mat-icon-button [matMenuTriggerFor]="thememenu"><mat-icon
				fontSet="material-icons-outlined">palette</mat-icon></button>
		<button class="header-button" mat-icon-button mat-icon-button (click)="disconnect()"><mat-icon
				fontSet="material-icons-outlined">power_settings_new</mat-icon></button>
		<mat-menu class="header-mini-menu" #langmenu="matMenu" xPosition="before">
			<span class="lang-menu-wrapper bambi-fx-15">

				<span class="option-label">{{'HEADER.LANGPICKER' | translation}}</span>

				<button id="pt-lang" class="menu-entry"
					[ngClass]="appService('appLang')=== 'pt' ? 'selected-language' : ''" mat-menu-item
					(click)="languageSwap('pt')">
					<div><img src="https://hatscripts.github.io/circle-flags/flags/pt.svg" width="24">
						<p>{{'HEADER.LANGPT' |
							translation}}</p>
					</div>
				</button>
				<button id="uk-lang" class="menu-entry"
					[ngClass]="appService('appLang')=== 'uk' ? 'selected-language' : ''" mat-menu-item
					(click)="languageSwap('uk')">
					<div><img src="https://hatscripts.github.io/circle-flags/flags/uk.svg" width="24">
						<p>{{'HEADER.LANGUK' |
							translation}}</p>
					</div>
				</button>
				<button id="es-lang" class="menu-entry"
					[ngClass]="appService('appLang')=== 'es' ? 'selected-language' : ''" mat-menu-item
					(click)="languageSwap('es')">
					<div><img src="https://hatscripts.github.io/circle-flags/flags/es.svg" width="24">
						<p>{{'HEADER.LANGES' |
							translation}}</p>
					</div>
				</button></span>
		</mat-menu>
		<mat-menu class="header-mini-menu" #thememenu="matMenu" xPosition="before">
			<span class="theme-menu-wrapper bambi-fx-15">

				<span class="option-label">{{'HEADER.THEMEPICKER' | translation}}</span>

				<button class="menu-entry waikiki" mat-menu-item (click)="themeSwap('waikiki')">
					<span>{{'HEADER.THEMEWAIKIKI' | translation}}</span><mat-icon
						*ngIf="appService('appTheme') === 'waikiki'">checked</mat-icon>
				</button>

				<button class="menu-entry vice" mat-menu-item (click)="themeSwap('vice')">
					<span>{{'HEADER.THEMEVICE' | translation}}</span><mat-icon
						*ngIf="appService('appTheme') === 'vice'">checked</mat-icon>

				</button>

			</span>
		</mat-menu>
	</div>
</div>