<div class="master-dialog-wrapper">

	<div class="dialog-header-wrapper warn-dialog">
		<div class="dialog-header-title">
			<mat-icon>delete</mat-icon>
			<span>{{'DELETESELECTION.DIALOGTITLE' | translation}}</span>
		</div>

		<div class="dialog-header-actions">
		</div>
	</div>

	<div class="progress-bar-wrapper">
	</div>

	<div class="dialog-details-wrapper">

		<div class="scrollbar-details-wrapper">

			<p>{{'DELETESELECTION.DIALOG.TEXT-1' | translation}}<br>{{'DELETESELECTION.DIALOG.TEXT-2' | translation}}</p>

		</div>

		<div class="dialog-footer-actions-wrapper">
			<button mat-dialog-close mat-stroked-button color="warn" style="margin: 0 10px">{{'APP.GENERIC.CANCEL' | translation}}</button>
			<button mat-dialog-close mat-flat-button (click)="confirmDelete()" color="warn"
				class="animate__animated animate__fadeIn" style="margin: 0 5px">{{'DELETESELECTION.DIALOG.DELETEBUTTON'
				| translation}}</button>
		</div>


	</div>


</div>