<div class="master-dialog-wrapper">

	<div class="dialog-header-wrapper warn-dialog">
		<div class="dialog-header-title">
			<mat-icon>delete</mat-icon>
			<span>{{'DIALOGS.DELETE-SELECTION.TITLE' | translation}}</span>
		</div>

		<div class="dialog-header-actions">
		</div>
	</div>

	<div class="progress-bar-wrapper">
	</div>

	<div class="dialog-details-wrapper">

		<div class="scrollbar-details-wrapper">

			<p>{{'DIALOGS.DELETE-SELECTION.TEXT1' | translation}}<br>{{'DIALOGS.DELETE-SELECTION.TEXT2' | translation}}</p>

		</div>

		<div class="dialog-footer-actions-wrapper">
			<button mat-dialog-close mat-stroked-button color="warn" style="margin: 0 10px">{{'GENERIC.CANCEL' | translation}}</button>
			<button mat-dialog-close mat-flat-button (click)="confirmDelete()" color="warn"
				class="animate__animated animate__fadeIn" style="margin: 0 5px">{{'DIALOGS.DELETE-SELECTION.BUTTON'
				| translation}}</button>
		</div>


	</div>


</div>