<div class="progress-bar-wrapper">
	<mat-progress-bar mode="indeterminate" color=warn *ngIf="!loadingComplete"></mat-progress-bar>
</div>

<div class="mainform-header">
	<div class="header-title">
		<mat-icon>restaurant_menu</mat-icon>
		<h1>{{'FD.RECIPES.TITLE' | translation}} -
			{{getOperationLabel(recordDetailsDraft.title,recordDetailsDraft.stamp) | translation}}
			{{!!recordDetailsDraft.title ? recordDetailsDraft.title:''}}</h1>
	</div>

	<div class="header-actions">
		<span *ngIf="!isDiscarding">
			<button mat-mini-fab color="primary" [disabled]="!recordReadyToSave()"
				(click)="saveRecord()"><mat-icon>save</mat-icon></button>
			<button mat-mini-fab color="warn" (click)="discardPrompt('open')"><mat-icon>close</mat-icon></button>
		</span>
		<span *ngIf="isDiscarding">
			<span class="animate__animated animate__fadeInRight discarding-label">{{'GENERIC.DISCARD-CHANGES' |
				translation}}</span>
			<button mat-mini-fab color="primary" class="animate__animated animate__headShake"
				(click)="closeEditMode()"><mat-icon>check</mat-icon></button>
			<button mat-mini-fab color="warn" (click)="discardPrompt('close')"><mat-icon>close</mat-icon></button>
		</span>
	</div>

</div>
<div class="mainform-content">

	<ng-scrollbar>
		<div id="record-edit-form" [formGroup]="recordForm">

			<div class="record-edit-left">

				<div class="img-picker-wrapper">
					<div class="img-picker-pic-wrapper">
						<img [src]="recipesService('tempB64Img')">
					</div>
					<div class="img-picker-pic-wrapper picker-controller bambi-fx-15-inline" (click)="newPicUpload()">
						<mat-icon>add_a_photo</mat-icon>
					</div>
				</div>

				<mat-form-field appearance="outline" color="accent">
					<mat-label class="bambi-fx-15-inline">{{'FD.RECIPES.EDIT.UNIT' | translation}}</mat-label>
					<mat-select class="bambi-fx-15 bambi-fx-30-inline" formControlName="unit">
						<mat-option *ngFor="let option of defaultOptions" [value]="option.value">
							{{option.title}}
						</mat-option>
					</mat-select>
					<mat-icon matSuffix>square_foot</mat-icon>
				</mat-form-field>

				<mat-form-field appearance="outline" color="accent">
					<mat-label class="bambi-fx-15-inline">{{'FD.RECIPES.EDIT.UNITVALUE' |
						translation}}</mat-label>
					<input class="bambi-fx-15 bambi-fx-30-inline" matInput formControlName="unitvalue">
					<span matSuffix>{{recordForm.get('unit')!.value}}</span>
				</mat-form-field>

				<mat-form-field appearance="outline" color="accent">
					<mat-label class="bambi-fx-15-inline">{{'FD.RECIPES.EDIT.KCAL' |
						translation}}{{'GENERIC.PERQUANTITY' | translation}}</mat-label>
					<input class="bambi-fx-15 bambi-fx-30-inline" matInput formControlName="kcal">
					<span matSuffix>Cal</span>
				</mat-form-field>

				<mat-form-field appearance="outline" color="accent">
					<mat-label class="bambi-fx-15-inline">{{'FD.RECIPES.EDIT.KCAL' | translation}} / 100
						{{recordForm.get('unit')!.value === 'L' ? 'ml' : recordForm.get('unit')!.value === 'kg' ? 'g'
						: recordForm.get('unit')!.value}}</mat-label>
					<input class="bambi-fx-15 bambi-fx-30-inline" matInput formControlName="kcalby100">
					<span matSuffix>Cal</span>
				</mat-form-field>

				<mat-form-field appearance="outline" color="accent">
					<mat-label class="bambi-fx-15-inline">{{'FD.RECIPES.EDIT.PRICE' |
						translation}}{{'GENERIC.PERQUANTITY' | translation}}</mat-label>
					<input class="bambi-fx-15 bambi-fx-30-inline" matInput formControlName="price">
					<mat-icon matSuffix>euro</mat-icon>
				</mat-form-field>

				<mat-form-field appearance="outline" color="accent">
					<mat-label class="bambi-fx-15-inline">{{'FD.RECIPES.EDIT.PRICE' | translation}} /
						{{recordForm.get('unit')!.value === 'ml' ? 'L' : recordForm.get('unit')!.value === 'g' ? 'kg'
						: recordForm.get('unit')!.value}}</mat-label>
					<input class="bambi-fx-15 bambi-fx-30-inline" matInput formControlName="pricebyratio">
					<mat-icon matSuffix>euro</mat-icon>
				</mat-form-field>

				<div class="checkbox-wrapper"><mat-checkbox color="accent"
						formControlName="public">{{'FD.RECIPES.EDIT.PUBLIC' |
						translation}}</mat-checkbox></div>

				<div class="checkbox-wrapper"><mat-checkbox color="accent"
						formControlName="inactive">{{'FD.RECIPES.EDIT.INACTIVE' |
						translation}}</mat-checkbox>
				</div>

			</div>


			<div class="record-edit-right">

				<mat-form-field appearance="outline" color="accent">
					<mat-label class="bambi-fx-15-inline">{{'FD.RECIPES.EDIT.TITLE' | translation}}</mat-label>
					<input class="bambi-fx-15 bambi-fx-30-inline" matInput formControlName="title">
					<mat-icon matSuffix>title</mat-icon>
				</mat-form-field>

				<mat-form-field class="record-chip-list" appearance="outline" color="accent">
					<mat-label class="bambi-fx-15-inline">{{'FD.RECIPES.EDIT.TAGS' | translation}}</mat-label>
					<mat-chip-grid #chipGrid formControlName="chipgrid">
						<mat-chip-row *ngFor="let tag of recordDetailsDraft.tags" (removed)="removeTag(tag)"
							[editable]="true" (edited)="editTag(tag, $event)">
							{{tag}}
							<button matChipRemove>
								<mat-icon>cancel</mat-icon>
							</button>
						</mat-chip-row>
						<input placeholder="{{'FD.RECIPES.EDIT.NEWTAG' | translation}}" [matChipInputFor]="chipGrid"
							[matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
							(matChipInputTokenEnd)="addTag($event)" />
					</mat-chip-grid>
				</mat-form-field>

				<div class="recipe-wrapper">

					<div style="font-size: 20px;display: flex;align-items: center;"><mat-icon fontSet="material-icons-outlined" color="primary"
							style="font-size:24px;width:24px;height:24px;  margin-right: 5px;margin-top: -1px;">category</mat-icon>Materiais:
					</div>
					<div class="recipe-material">
						<div class="img-col"></div>
						<div class="title-col"></div>
						<div>qtd</div>
						<div>kcal</div>
						<div>price</div>
						<div class="action-buttons-wrapper"></div>
					</div>
					<div class="recipe-material" [ngClass]="discardPromptControl ? ' disabled-mat' : mat.origin + '-material'"
						*ngFor="let mat of recordDetailsDraft.recipemats" style="display: flex;padding:5px 0px;">
						<div class="img-col"><img [src]="mat.image"></div>
						<div class="title-col">{{mat.title}}</div>
						<div>{{mat.qtd}}</div>
						<div>{{mat.kcal}}</div>
						<div>{{mat.price}}</div>

						<div class="action-buttons-wrapper"><button class="bambi-fx-30-inline" mat-mini-fab
								color="accent" [disabled]="discardPromptControl"
								(click)="editRecipeMaterial(mat.stamp)"><mat-icon>edit</mat-icon></button>
							<button class="bambi-fx-30-inline" mat-mini-fab color="warn"
								[disabled]="discardPromptControl"
								(click)="deleteRecipeMaterial(mat.stamp)"><mat-icon>delete</mat-icon></button>
						</div>

					</div>

					<div class="recipe-material materials-action-buttons-wrapper" [ngClass]="discardPromptControl ? ' disabled-recipes' : ''">

						<button class="bambi-fx-30-inline" mat-mini-fab color="accent" [disabled]="discardPromptControl"
							(click)="addRecipeMaterial('products')"><mat-icon>add</mat-icon></button>
						<button class="bambi-fx-30-inline" mat-mini-fab color="accent" [disabled]="discardPromptControl"
							(click)="addRecipeMaterial('supplements')"><mat-icon>add</mat-icon></button>


					</div>
				</div>

			</div>

		</div>
	</ng-scrollbar>

</div>