.dialog-details-wrapper {
	.mat-mdc-standard-chip.mdc-evolution-chip--disabled {
		opacity: 1;
	}
}

.record-mini-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	mat-icon {
		margin-right: 10px;
	}

	div {
		display: flex;
		align-content: center;
		margin: 5px auto;
		span {
			margin-top: 4px;
		}
	}

	img {
		max-width: 100%;
		margin: 0 auto 5px;
		border-radius: 25%;
	}
}

.record-info-left,
.record-info-right {
	padding: 0 10px;
	height: 100%;
	display: flex;
}

.record-info-left {
	width: 30%;
}

.record-info-right {
	width: 70%;
	flex-direction: column;

	.record-title {
		margin-bottom: 10px;
		h1 {
			margin: 0;
		}
	}

	.record-chips {
		margin-bottom: 10px;
	}

	.recipes-list {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.delete-confirmation {
		padding-top: 10px;

		p {
			text-align: center;
		}

		div {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-top: 10px;
			button {
				margin: 0 10px;
			}
		}
	}
}
