<div class="mainform-header">
	<div class="header-title">
		<mat-icon>restaurant_menu</mat-icon>
		<h1>{{'FOOD.PRODUCTS.TITLE' | translation}} -
			{{!!productDetailsDraft.title ? !!productDetailsDraft.stamp ? 'A editar' : 'A duplicar' : 'A introduzir'}}
			{{!!productDetailsDraft.title ? productDetailsDraft.title:''}}</h1>
	</div>

	<div class="header-actions">
		<span class="default-status" *ngIf="!isDiscarding">
			<button mat-mini-fab color="primary" [disabled]="!productForm.valid"
				(click)="saveProduct()"><mat-icon>save</mat-icon></button>
			<button mat-mini-fab color="warn" (click)="isDiscarding = true"><mat-icon>close</mat-icon></button>
		</span>
		<span class="default-status" *ngIf="isDiscarding">
			<span class="animate__animated animate__fadeInRight" style="padding-right:10px;">You sure?</span>
			<button mat-mini-fab color="primary" class="animate__animated animate__headShake"
				(click)="closeEditMode()"><mat-icon>check</mat-icon></button>
			<button mat-mini-fab color="warn" (click)="isDiscarding = false"><mat-icon>close</mat-icon></button>
		</span>
	</div>

</div>
<div class="mainform-content">

	<ng-scrollbar>
		<div id="product-edit-form" [formGroup]="productForm">

			<div class="product-edit-left">

				<div class="img-picker-wrapper">
					<div class="img-picker-pic-wrapper">
						<img [src]="productsService.tempB64Img">
					</div>
					<div class="img-picker-pic-wrapper picker-controller bambi-fx-15-inline" (click)="newPicUpload()">
						<mat-icon>add_a_photo</mat-icon>
					</div>
				</div>

				<mat-form-field appearance="outline" color="accent">
					<mat-label class="bambi-fx-15-inline">{{'FOOD.PRODUCTS.EDITING.UNIT' | translation}}</mat-label>
					<mat-select class="bambi-fx-15 bambi-fx-30-inline" formControlName="unit" style="margin-top: 13px;">
						<mat-option *ngFor="let option of defaultOptions" [value]="option.value">
							{{option.title}}
						</mat-option>
					</mat-select>
					<mat-icon matSuffix>square_foot</mat-icon>
				</mat-form-field>

				<mat-form-field appearance="outline" color="accent">
					<mat-label class="bambi-fx-15-inline">{{'FOOD.PRODUCTS.EDITING.UNITVALUE' |
						translation}}</mat-label>
					<input class="bambi-fx-15 bambi-fx-30-inline" matInput formControlName="unitvalue">
					<span matSuffix>{{productForm.get('unit')!.value}}</span>
				</mat-form-field>

				<mat-form-field appearance="outline" color="accent">
					<mat-label class="bambi-fx-15-inline">{{'FOOD.PRODUCTS.EDITING.KCAL' | translation}}</mat-label>
					<input class="bambi-fx-15 bambi-fx-30-inline" matInput formControlName="kcal">
					<span matSuffix>Kcal</span>
				</mat-form-field>

				<mat-form-field appearance="outline" color="accent">
					<mat-label class="bambi-fx-15-inline">{{'FOOD.PRODUCTS.EDITING.KCAL' | translation}} / 100 {{productForm.get('unit')!.value === 'L' ? 'ml' : productForm.get('unit')!.value === 'kg' ? 'g'
						: productForm.get('unit')!.value}}</mat-label>
					<input class="bambi-fx-15 bambi-fx-30-inline" matInput formControlName="kcalby100">
					<span matSuffix>Kcal</span>
				</mat-form-field>

				<mat-form-field appearance="outline" color="accent">
					<mat-label class="bambi-fx-15-inline">{{'FOOD.PRODUCTS.EDITING.PRICE' | translation}}</mat-label>
					<input class="bambi-fx-15 bambi-fx-30-inline" matInput formControlName="price">
					<mat-icon matSuffix>euro</mat-icon>
				</mat-form-field>

				<mat-form-field appearance="outline" color="accent">
					<mat-label class="bambi-fx-15-inline">{{'FOOD.PRODUCTS.EDITING.PRICE' | translation}} /
						{{productForm.get('unit')!.value === 'ml' ? 'L' : productForm.get('unit')!.value === 'g' ? 'kg'
						: productForm.get('unit')!.value}}</mat-label>
					<input class="bambi-fx-15 bambi-fx-30-inline" matInput formControlName="pricebyratio">
					<mat-icon matSuffix>euro</mat-icon>
				</mat-form-field>

				<div class="checkbox-wrapper"><mat-checkbox color="accent"
						formControlName="public">{{'FOOD.PRODUCTS.EDITING.PUBLIC' |
						translation}}</mat-checkbox></div>

				<div class="checkbox-wrapper"><mat-checkbox color="accent"
						formControlName="inactive">{{'FOOD.PRODUCTS.EDITING.INACTIVE' |
						translation}}</mat-checkbox>
				</div>

			</div>


			<div class="product-edit-right">

				<mat-form-field appearance="outline" color="accent">
					<mat-label class="bambi-fx-15-inline">{{'FOOD.PRODUCTS.EDITING.TITLE' | translation}}</mat-label>
					<input class="bambi-fx-15 bambi-fx-30-inline" matInput formControlName="title">
					<mat-icon matSuffix>title</mat-icon>
				</mat-form-field>

				<mat-form-field class="product-chip-list" appearance="outline" color="accent">
					<mat-label class="bambi-fx-15-inline">{{'FOOD.PRODUCTS.EDITING.TAGS' | translation}}</mat-label>
					<mat-chip-grid #chipGrid>
						<mat-chip-row *ngFor="let tag of productDetailsDraft.tags" (removed)="removeTag(tag)"
							[editable]="true" (edited)="editTag(tag, $event)">
							{{tag}}
							<button matChipRemove>
								<mat-icon>cancel</mat-icon>
							</button>
						</mat-chip-row>
						<input placeholder="{{'FOOD.PRODUCTS.EDITING.NEWTAG' | translation}}"
							[matChipInputFor]="chipGrid" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
							[matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)" />
					</mat-chip-grid>
				</mat-form-field>

				<div style="width: 100%;">receitas aqui</div>

			</div>

		</div>
	</ng-scrollbar>

</div>