.picker-controller {
	opacity: 0;
	overflow: hidden;
	mat-icon {
		font-size: 48px;
		height: 48px;
		width: 48px;
	}
}

.img-picker-wrapper:hover {
	.img-picker-pic-wrapper.picker-controller {
		opacity: 0.4;
	}
}

#product-edit-form {
	display: flex;
	padding: 20px;

	.product-edit-left {
		width: 50%;
		margin-right: 10px;

		.img-picker-wrapper {
			margin: 20px auto 45px;
			width: 156px;
			height: 156px;
			cursor: pointer;

			.img-picker-pic-wrapper {
				width: 156px;
				height: 156px;
				overflow: clip;
				display: flex;
				border-radius: 25%;
				margin: auto;

				border-style: solid;
				border-width: 6px;
				&.picker-controller {
					position: relative;
					top: -156px;
					border-style: solid 6px transparent;
					justify-content: center;
					align-items: center;
				}
			}
		}

		mat-form-field {
			width: 50%;
			span {
				padding-right: 15px;
			}
		}

		.checkbox-wrapper {
			width: 50%;
			padding-left: 20px;
			display: inline-block;
		}
	}

	.product-edit-right {
		width: 50%;
		margin-left: 10px;
	}

	mat-form-field {
		width: 100%;

		&.product-chip-list {
			min-height: 160px;
		}

		mat-chip-grid {
			padding-top: 10px;

			input {
				height: 32px !important;
			}
		}
	}
}
